html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#main-thing {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

#container {
  display: flex;
  color: blue;
  background-color: rgb(58, 64, 90);
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  padding: 2px;
}

.color-box {
  background-color: #ffffff;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s ease-out;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}

button {
  border: 0;
  padding: 8px 15px;
  background-color: rgb(104, 80, 68);
  color: white;
  transition: background-color 0.5s;
  margin: 5px 5px;
}

button:hover {
  background-color: #374B4A;
}

span {
  display: flex;
}
